@import "/src/assets/scss/_variables";

.search-flight {
  padding: 17px;
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }
  .form-container {
    margin-top: 5%;
    .icon-search {
      color: $main-color;
      width: 30px;
      height: 30px;
      font-size: 30px;
      margin: 0 17px;
    }
  }
}
