@import "/src/assets/scss/_variables";

.search-flight {
  padding: 17px;
  h1 {
    font-size: 43px;
    margin-top: 21px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }
  .form-container {
    margin-top: 5%;
    form {
      margin-top: 31px;
      .origin-field,
      .destination-field {
        width: 30%;
      }
      .search-btn {
        width: 40%;
        background-color: $main-color;
        color: #fff;
        &:hover {
          background-color: #38a5d7;
        }
      }
    }
    .icon-search {
      color: $main-color;
      width: 30px;
      height: 30px;
      font-size: 30px;
      margin: 0 17px;
    }
  }
}

@media screen and (max-width: 610px) {
  .search-flight {
    .form-container {
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .icon-search {
          order: 1;
        }
        .origin-field {
          order: 2;
          width: 90%;
        }
        .destination-field {
          order: 3;
          width: 90%;
        }
      }
    }
  }
}
