<section class="search-flight">
  <h1>Book a flight</h1>
  <div class="form-container">
    <p>Search and select your orgin and destination flight</p>
    <form [formGroup]="form">
      <mat-form-field class="origin-field" appearance="fill">
        <mat-label>Origin</mat-label>
        <input
          type="text"
          placeholder="Select origin"
          matInput
          formControlName="origin"
          [matAutocomplete]="originAutocomplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #originAutocomplete="matAutocomplete"
          [displayWith]="getDescriptionOriginLocation.bind(this)"
        >
          <mat-option
            *ngFor="let location of origins"
            [value]="location.code"
            [disabled]="!location.code"
          >
            {{ location.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-icon class="icon-search">travel_explore</mat-icon>
      <mat-form-field class="destination-field" appearance="fill">
        <mat-label>Destination</mat-label>
        <input
          type="text"
          placeholder="Select destination"
          matInput
          formControlName="destination"
          [matAutocomplete]="destinationAutocomplete"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #destinationAutocomplete="matAutocomplete"
          [displayWith]="getDescriptionDestinationLocation.bind(this)"
        >
          <mat-option
            *ngFor="let location of destinations"
            [value]="location.code"
            [disabled]="!location.code"
          >
            {{ location.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        mat-raised-button
        class="search-btn"
        [disabled]="!form.valid && !areLocationsSelected()"
        (click)="search()"
      >
        Search
      </button>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</section>
